torch==2.0.0
torchvision==0.15.1
Flask==2.1.0
Pillow==10.4.0
transformers[torch]==4.44.0
datasets==2.21.0
jupyterlab
ipykernel
matplotlib
scikit-learn==1.5.1
onnx==1.16.2
tiktoken
wandb
evaluate==0.4.2
numpy<2